extends layout

block content
  h1= GangulaSravaniReddy
  p Welcome to Gangula Sravani Reddy 

  P A friend in need is a frined in deed.

  <button type="button" class="btn btn-danger">Press Me</button>
