extends layout



block content

  h1= title

  - var image_names=["rabbit.jpg","rabbit01.jpg","rabbit02.jpg","rabbit03.jpg","rabbit04.jpg"]

  - for(let i=0;i<3;i++){

     - let random= Math.floor(Math.random()*5)

     img(src=`/images/${image_names[random]}` alt=`Image No ${random}` height="300px" width="300px")

  - }